body{

    color: #007473;
    display: flex;
    background-color: #F3F6FF;

}

header{

    margin-bottom: auto;

}

#header-udea-logo{

    width: 400px;
    margin: 2.5em auto;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #e4e4e4;

}

footer{

    margin-top: auto;

}

#app{

    display: flex;

}


.backg-initial{

    background-image: url('../img/backgrounds/tsd.png');
    background-repeat: no-repeat;
    background-position: top right;

}

.backg-light-green{

    background-color: #3BBFAD;

}

.backg-dark-green{

    background-color: #007473;

}

.backg-orange{

    background-color: #FFA400;

}

.backg-red{

    background-color: #F5333F;

}

.text-light-green{

    color: #3BBFAD;

}

.text-dark-green{

    color: #007473;

}

.btn{

    padding: .5em 1em;
    border-radius: 20px;
    border: 1px solid  #F3F6FF;
    box-shadow: 1px 1px 1px #ccc, -2px -2px 0 #fff;
    color: #007473;
    font-weight: bold;
    min-width: 170px;
    max-width: 200px;
    margin: 2em auto;
    display: block;

}

.btn:hover{

    text-decoration: none;

}

.splide__arrow{

    background-color: transparent !important;

}

.splide__arrow--prev{

    left: -2em;

}

.splide__arrow--next{

    right: -2em;

}

.splide__pagination{

    display: none;

}

.image-slider{

    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;

}

.title{

    margin: 2.5em 0;
    text-align: center;
    color: #007473;

}

.container-circle-logo{

    width: 170px;
    height: 170px;
    margin: 2em auto;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.container-circle-logo span{

    width: 100%;
    text-align: center;
    margin-top: -3em;

}

.container-circle-logo-alt{

    display: flex;
    align-items: center;
    justify-content: center;
    margin:2em 1em 1em 1em;

}

.container-circle-logo-alt img{
    
    margin-right: 2em;

}

.container-circle-logo-alt span{

    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.5rem;
}

#pain-chest-image-alt{

    width: 350px;
    margin-left: auto;

}

.pain-chest-alt_lateral{

    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: flex-end;
    height: 300px;

}

.pain-chest-alt_lateral_borders{

    border-radius: 0 50px 50px 0;

}

.pain-chest-alt_lateral .back-icon{

    color: orange;
    background-color: #fff;
    position: absolute;
    top: 30px;
    left: 0;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.pain-chest-alt_lateral .globe-icon{

    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    background-color: #FFA400;
    top: 60px;
    right: -40px;

}

.pain-chest-alt_lateral span{

    transform: rotate(-90deg);
    position: absolute;
    right: -80px;
    bottom: 60px;
    width: 160px;

}

.container-box{

    background-color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 2em;
}

.choice-container, .choice-container-alt{

    background-color: #FFFFFF;
    border-radius: 20px;
    height: 300px;
    text-align: center;
    padding: 2em;
    display: block;
    color: #007473;
    box-shadow: 0px 0px 15px #ececec;

}

.choice-container-alt{

    height: 400px;

}

.choice-container:hover, .choice-container-alt:hover{

    text-decoration: none;

}

.choice-identify{

    background-color: #F5333F;
    color: #fff;
    font-weight: bolder;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 1em auto;
    box-shadow: 0px 10px 7px #ccc;

}

.choice-identify.big{

    font-size: 2rem;
    height: 80px;
    width: 80px;

}

.choice-first-section_options p{

    text-align: center;

}

.audio-container{

    display: flex;
    align-items: center;

}

.complement-resource_text{

    color: #F5333F;
    font-weight: bold;
    font-size: 1.7rem;

}

.complement-resources{

    text-align: center;
    color: inherit;

}

.complement-resources:hover{

    text-decoration: none;

}

.complement-resources_icon{

    margin-bottom: 1em;

}

.lateral-image{

    width: 400px;
    margin: 0 auto;

}

ul li::marker{

    color: #F5333F;

}

.footer-section{

    display: flex;
    align-items: center;

}

#clinic-history{

    position: fixed;
    left: -1150px;
    transition: left .5s;
    width: 1200px;
    z-index: 100;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;

}

#clinic-history.active{

    left: 0;

}

#cardiogram-alt{

    background-color: #007473;
    position: fixed;
    width: 70%;
    height: 100%;
    top: 0;
    right: -70%;
    transition: right 1s;
    display: flex;
    align-items: center;
    justify-content: center;

}

#cardiogram-alt.active{

    right: 0;

}

#cardiogram-alt .cardiogram-alt_franja{

    position: absolute;
    background-color: #007473;
    left: -54px;
    height: 350px;
    display: flex;
    align-items: center;
    width: 55px;
    margin-top: auto;
    bottom: 0;
    top: 0;
    margin-bottom: auto;
    justify-content: flex-start;
    border-radius: 50px 0 0 50px;
    color: #FFF;

}

#cardiogram-alt .cardiogram-alt_franja-icon{

    background-color: #007473;
    position: absolute;
    left: -50px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    top: 70px;
    align-items: center;
    justify-content: center;

    
}

#cardiogram-alt .cardiogram-alt_franja-text{

    transform: rotate(-90deg);
    font-weight: 900;
    position: absolute;
    width: 220px;
    left: -84px;

}

#cardiogram-alt .cardiogram-alt_icon-right{

    position: absolute;
    top: 0;
    left: 66px;
    cursor: pointer;
}

#cardiogram-alt .cardiogram-alt_cardiogram{

    width: 80%;

}

#cardiogram-alt .cardiogram-alt_cardiogram .image-slider{



}

#complement-resources{

    margin: 3em 0;

}

#complement-resources .ed-container{

    padding: 2em;
    border-radius: 20px;
    box-shadow: 2px 2px 1px #e2e2e2;

}